{
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"endOfLine": "auto",
	"semi": false,
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"printWidth": 140,
	"proseWrap": "preserve",
	"quoteProps": "preserve",
	"requirePragma": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"tabWidth": 2,
	"singleAttributePerLine": false,
	"useTabs": true,
	"trailingComma": "all",
	"importOrder": [
		"^(^react$|^@react|^react|^recoil|redux|vite)",
		"^(^antd|^rsuite|^@emotion|^emotion|theme-ui|^semantic-ui|^@rebass|^@chakra-ui|bootstrap|tailwind|bulma|mui|^@blueprintjs|reactstrap|^@mantine)",
		"<THIRD_PARTY_MODULES>",
		"^@(.*)$",
		"^~(.*)$",
		"^[./]"
	],
	"importOrderGroupNamespaceSpecifiers": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
