{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "printWidth": 140,
  "proseWrap": "always",
  "quoteProps": "preserve",
  "requirePragma": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "all",
  "end_with_newline": true,
  "importOrder": [
    "^(^react$|^@react|^react|^recoil|redux|vite)",
    "^(^antd|^rsuite|^@emotion|^emotion|theme-ui|^semantic-ui|^@rebass|^@chakra-ui|bootstrap|tailwind|bulma|mui|^@blueprintjs|reactstrap|^@mantine)",
    "<THIRD_PARTY_MODULES>",
    "^@(.*)$",
    "^~(.*)$",
    "^[./]"
  ],
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}